<div class="row track">
  <!-- Play Button -->
  <div class="hidden-xs col-sm-1">
    <button class="btn btn-default btn-sm control <% if(isPlaying){%> <%= 'pause' %> <%} else {%> <%= 'play' %> <%}%>" >
      <span class="glyphicon">
      </span>
    </button>
  </div>
  <!-- End Play Button -->
  <!-- Media Element -->
  <div class="col-xs-12 col-sm-7">
    <div class="media">
      <div class="pull-left">
        <img class="media-object" src="<%= cover %>" alt="">
      </div>
      <div class="media-body">
        <div class="row">
          <div class="col-xs-8 col-sm-12">
            <span class="title"><%= title %><br/>
            <span class="artist small text-muted"><%= artist %></span>
          </div>
          <div class="col-xs-4 visible-xs text-right">
            <button class="play-button-xs btn btn-default btn-sm control <% if(isPlaying){%> <%= 'pause' %> <%} else {%> <%= 'play' %> <%}%>" >
              <span class="glyphicon">
              </span>
            </button>            
          </div>
        </div>
      </div>
    </div>      
  </div>
  <!-- End Media Element -->
  <!-- Play Button Mini -->
<!--  -->
  <!-- End Play Button -->
  <!-- Star Rating -->

  <!-- End Star Rating -->
  <!-- for symmetry -->
  <div class="col-xs-12 col-sm-3 star-rating"> 
    <span class="star glyphicon <%if(rating > 0){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="1">
    </span>
    <span class="star glyphicon <%if(rating > 1){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="2">
    </span>
    <span class="star glyphicon <%if(rating > 2){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="3">
    </span>
    <span class="star glyphicon <%if(rating > 3){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="4">
    </span>
    <span class="star glyphicon <%if(rating > 4){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="5">
    </span>
  </div>  
  <div class="hidden-xs col-sm-1"></div>
</div>

<!-- <div class="row track">
  <div class="col-xs-2 col-sm-1 col-md-1"><img src="<%= cover %>" alt="" class="img-responsive"></div>
  <div class="col-xs-10 col-sm-8 col-md-8">
    <div class="col-xs-12 col-sm-12 col-md-8"><%= title %></div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-muted"><%= artist %></div>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 text-right"> 
    <span class="star glyphicon <%if(rating > 0){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="1">
    </span>
    <span class="star glyphicon <%if(rating > 1){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="2">
    </span>
    <span class="star glyphicon <%if(rating > 2){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="3">
    </span>
    <span class="star glyphicon <%if(rating > 3){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="4">
    </span>
    <span class="star glyphicon <%if(rating > 4){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="5">
    </span>
  </div>
</div> -->

<!-- <td>
  <span id="control"
        class="glyphicon <%if(isPlaying){%> <%= " pause" %> <%} else {%> <%= " glyphicon-play play" %><%}%>">
  </span>
</td>
<td>
  <%= artist %>
</td>
<td>
  <%= title %>
</td>
<td>
  <span class="star glyphicon <%if(rating > 0){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="1">
  </span>
  <span class="star glyphicon <%if(rating > 1){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="2">
  </span>
  <span class="star glyphicon <%if(rating > 2){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="3">
  </span>
  <span class="star glyphicon <%if(rating > 3){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="4">
  </span>
  <span class="star glyphicon <%if(rating > 4){%> <%= "glyphicon-star" %> <%} else {%> <%= "glyphicon-star-empty" %><%}%>" 
        data-value="5">
  </span>
</td> -->
